VITE_FIREBASE_API_KEY=AIzaSyCIVqjrh1Lf4lhtmMisTEzg_f2zAlMXMxI
VITE_FIREBASE_PROJECT_ID=sr-record
VITE_FIREBASE_STORAGE_BUCKET=sr-record.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=56362585001
VITE_FIREBASE_APP_ID=1:56362585001:web:7eb2634cce12352ef812b8
